
body {
    background: linear-gradient(90deg,rgb(83, 51, 191), rgb(53, 216, 246));
    margin-top: 80px;
}



.new-products {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.our-products {
    border-radius: 8px;
}

.our-products h1 {
    color: #ff6a00;
}

.space {
    width: 100%;
    height: 50px;

}


