
body {
}


.container .navbar-nav li a{
    color: white;
}

    .container .navbar-nav li a:hover {
        color: #8135ff;
    }

.container .navbar-nav li:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #5700d5;
    margin-top: -5px;
}
